Plugins, "About Behavior", behavior.plugin.AboutBehavior

Plugins>Open Field Test, "OF Online (1 chamber)", behavior.plugin.OFOnline("1")
Plugins>Open Field Test, "OF Online (2 chambers)", behavior.plugin.OFOnline("2")
Plugins>Open Field Test, "OF Online (4 chambers)", behavior.plugin.OFOnline("4")
Plugins>Open Field Test, "OF Online (8 chambers)", behavior.plugin.OFOnline("8")
Plugins>Open Field Test, "OF Online (9 chambers)", behavior.plugin.OFOnline("9")
Plugins>Open Field Test, "OF Offline", behavior.plugin.OFOffline